@media (max-width:1399.98px){

}

@media (max-width:1199.98px){
    
   

}

@media (max-width:997.98px){

    h1 {font-size: 18px;}

    h2 { font-size: 16px;}

    h4,strong,h6 { font-size: 14px;}
    



}

@media (max-width:767.98px){
    body {font-size: 12px;}

    p {font-size: 12px;}

    .profile-bg  {width: 100%; position:static; height: auto;}
    .sv-bodycontent {padding-left: 0;}

}


@media (max-width:575.98px){
    h1 {font-size: 25px;}

    h2 { font-size: 20px;}

    h4 { font-size: 19px;}
    strong {font-size: 19px;}
    h6 {font-size: 19px;}
}

@media (max-width:475.98px){
    h1 {font-size: 20px;}

    h2 { font-size: 18px;}

    h4 { font-size: 14px;}
    strong {font-size: 14px; margin-bottom: 10px;}
    h6 {font-size: 13px;}
}