
        body {
            background-color: var(--bs-light);
            color: var(--bs-gray-dark);
            font-family: Roboto, sans-serif
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: Roboto, sans-serif
        }

        p {
            color: var(--bs-gray-dark)
        }

        :root {
            --bs-blue: #0d6efd;
            --bs-indigo: #6610f2;
            --bs-purple: #6f42c1;
            --bs-pink: #d63384;
            --bs-red: #dc3545;
            --bs-orange: #fd7e14;
            --bs-yellow: #ffc107;
            --bs-green: #198754;
            --bs-teal: #20c997;
            --bs-cyan: #0dcaf0;
            --bs-white: #fff;
            --bs-gray: #6c757d;
            --bs-gray-dark: #272829;
            --bs-primary: #61677A;
            --bs-secondary: #6c757d;
            --bs-success: #198754;
            --bs-info: #0dcaf0;
            --bs-warning: #FFF6E0;
            --bs-danger: #dc3545;
            --bs-light: #D8D9DA;
            --bs-dark: #212529;
            --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
            --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none
        }

        @media (min-width:768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem
            }
        }

        .profile-bg {
            background-color: var(--bs-gray-dark)
        }

        .profile-bg h4 {
            color: var(--bs-warning)
        }

        a {
            text-decoration: none;
            color: var(--bs-primary)
        }
        /* a:link {
            opacity: .5;
            color: var(--bs-primary)
        } */
        a:hover {
            opacity: .5;
            color: var(--bs-primary)
        }

        .figure {
            min-height: 150px;
            width: 150px;
            background-color: var(--bs-light);
            margin: 0;
            border-radius: 100%
        }

        .figure img {
            border-radius: 100%
        }

        .sv-bulletpoints {
            list-style-type: disclosure-closed;
            color: var(--bs-gray-dark)
        }
        .sv-bulletpoints li::marker {color: var(--bs-primary);}
        .sv-bulletpoints li { color: var(--bs-gray-dark);}

        .sv-bulletpoints.style2 {
            list-style-type: square
        }

        .sv-bulletpoints li p {
            margin-bottom: 10px;
            color: var(--bs-warning);
        }

        .bg-light {
            background-color: var(--bs-warning) !important
        }

        .sv-contact li {
            display: table;
            padding-bottom: 8px;
            color: var(--bs-warning)
        }

        .sv-contact li:hover {
            opacity: .5;
            color: var(--bs-primary)
        }

        .sv-contact a,
        .sv-contact p {
            display: table-cell;
            padding-left: 12px;
            vertical-align: top;
            color: var(--bs-warning);
        }

        .sv-bodycontent {
            padding-left: 20rem
        }

        .sv-fixed {
            position: fixed;
            left: 0;
            top: 0;
            height: 100vh;
            width: 20rem
        }

        .sv-fixed>div {
            height: 100%;
            overflow: auto
        }

        .sv-border-bottom {
            position: relative;
            padding-bottom: 15px !important;
            margin-bottom: 15px
        }

        .sv-border-bottom::after {
            content: '';
            width: 100%;
            height: 4px;
            position: absolute;
            display: inline-block;
            bottom: 0;
            left: 0;
            border-bottom: solid 3px var(--bs-warning)
        }

        .vs-lablebg a {
            background-color: var(--bs-warning);
            padding: 7px;
            margin-bottom: 8px;
            display: inline-block
        }

        .sv-fixed>div::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            border-radius: 0;
            background-color: #f5f5f5
        }

        .sv-fixed>div::-webkit-scrollbar {
            width: 12px;
            background-color: #f5f5f5
        }

        .sv-fixed>div::-webkit-scrollbar-thumb {
            border-radius: 0;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: var(--bs-light)
        }
 